                       .contenedor {
                           display: grid;
                           grid-gap: 1em;
                           grid-template-columns: repeat(5, 1fr);
                           grid-template-rows: repeat(10, auto);
                           grid-template-areas: "header header header header header" "swiper-container2 swiper-container2 swiper-container2 swiper-container2 swiper-container2" "contenido contenido contenido contenido contenido" "descripcion-pagina descripcion-pagina descripcion-pagina descripcion-pagina descripcion-pagina" "sidebar-1 sidebar-1 sidebar-1 sidebar-1 sidebar-1" "sidebar-2 sidebar-2 sidebar-2 sidebar-2 sidebar-2" "widget-1 widget-1 widget-1 widget-1 widget-1" "widget-2 widget-2 widget-2 widget-2 widget-2" "informacion-megafly informacion-megafly informacion-megafly informacion-megafly informacion-megafly" "footer footer footer footer footer";
                       }
                       /*estilos Contenido*/
                       
                       .contenedor .header {
                           grid-area: header;
                       }
                       
                       .contenedor .swiper-container2 {
                           grid-area: swiper-container2;
                       }
                       
                       .contenedor .contenido {
                           grid-area: contenido;
                       }
                       
                       .descripcion-pagina {
                           grid-area: descripcion-pagina;
                       }
                       
                       .contenedor .sidebar-1 {
                           grid-area: sidebar-1;
                       }
                       
                       .contenedor .sidebar-2 {
                           grid-area: sidebar-2;
                       }
                       
                       .contenedor .widget-1 {
                           grid-area: widget-1;
                       }
                       
                       .contenedor .widget-2 {
                           grid-area: widget-2;
                       }
                       
                       .contenedor .footer {
                           grid-area: footer;
                       }
                       
                       .contenedor .informacion-megafly {
                           grid-area: informacion-megafly;
                       }
                       /*estilos descripcion*/
                       
                       .descripcion-pagina {
                           background: #fff;
                           border-radius: 3px;
                           border-top: 4px solid #2460e8;
                           box-shadow: 0 3px 7px rgba(0, 0, 0, .05);
                           font-size: 13px;
                           padding: 15px;
                           text-align: center;
                           font-family: Montserrat;
                           margin: 0px 2.5em;
                       }
                       
                       .descripcion-pagina h1 {
                           margin-bottom: 15px;
                       }
                       
                       .descripcion-pagina p img {
                           width: 20px;
                           margin-bottom: -4px;
                       }
                       /*estilos sidebar-1*/
                       
                       .sidebar-1 {
                           border-radius: 5px;
                           padding-top: 10px;
                           margin: 0 1em;
                       }
                       
                       .sidebar-1 h3 {
                           color: palevioletred;
                       }
                       
                       .sidebar-1 .menu-sidebar-1 li a {
                           color: #fff;
                           border-bottom: palevioletred solid 2px;
                       }
                       
                       .sidebar-1 .menu-sidebar-1 ul .menu-sidebar-1-cards {
                           display: flex;
                           flex-direction: row;
                           flex-wrap: wrap;
                           padding-bottom: 2em;
                       }
                       
                       .sidebar-1 .menu-sidebar-1 .menu-sidebar-1-cards .card {
                           width: 11%;
                           height: 200px;
                           margin: 1em 5px;
                           background: #fff;
                           z-index: 1;
                       }
                       
                       .sidebar-1 .card a img {
                           transition: all 0.5 ease 0s;
                           width: 100%;
                           height: 100%;
                           box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.5);
                           background-color: rgb(0, 0, 0);
                       }
                       
                       .sidebar-1 .menu-sidebar-1 .menu-sidebar-1-cards .card a h3 {
                           font-size: 14px;
                           color: #fff;
                           position: relative;
                           top: -3px;
                           text-align: center;
                       }
                       
                       .sidebar-1 .recomendacion-genero,
                       .sidebar-2 .recomendacion-genero {
                           margin: 2em 1em;
                           padding: 0.5em 0.3em;
                           border-radius: 5px;
                       }
                       
                       .sidebar-1 .recomendacion-genero h2,
                       .sidebar-2 .recomendacion-genero h2 {
                           font-size: 1.1em;
                           color: palevioletred;
                           padding-bottom: 10px;
                           text-align: center;
                       }
                       
                       .sidebar-1 .recomendacion-genero ul,
                       .sidebar-2 .recomendacion-genero ul {
                           display: flex;
                           flex-direction: row;
                           flex-wrap: wrap;
                           justify-content: space-around;
                       }
                       
                       .sidebar-1 .recomendacion-genero ul a li,
                       .sidebar-2 .recomendacion-genero ul a li {
                           color: #f7f7f7;
                           font-family: Montserrat;
                           padding: 3px 10px;
                           margin: 5px 5px;
                           text-align: center;
                           font-size: 15px;
                           border-bottom: palevioletred solid 2px;
                           -webkit-transition: all .3s ease;
                           /* Safari y Chrome */
                           -moz-transition: all .3s ease;
                           /* Firefox */
                           -o-transition: all .3s ease;
                           /* IE 9 */
                           -ms-transition: all .3s ease;
                       }
                       
                       .sidebar-1 .recomendacion-genero ul a li:hover,
                       .sidebar-2 .recomendacion-genero ul a li:hover {
                           opacity: 0.5;
                       }
                       /*estilos sidebar 2*/
                       
                       .sidebar-2 {
                           border-radius: 5px;
                           margin-right: 1em;
                           padding-left: 1em;
                           padding-top: 10px;
                       }
                       
                       .sidebar-2 h2 {
                           color: palevioletred;
                       }
                       
                       .sidebar-2 .sidebar2-main {
                           display: flex;
                           flex-direction: row;
                           flex-wrap: wrap;
                       }
                       
                       .sidebar-2 .sidebar2-main .card {
                           display: flex;
                           flex-direction: row;
                           width: 200px;
                           height: 100px;
                           margin: 1em 1em;
                           border-radius: 5px;
                           padding: 5px 10px;
                           background: #fff;
                       }
                       
                       .sidebar-2 .sidebar2-main .card .card-img {
                           width: 70px;
                           height: 90px;
                           background: rgba(0, 0, 0, 0.5);
                       }
                       
                       .sidebar-2 .sidebar2-main .card .card-img a img {
                           transition: all 0.5 ease 0s;
                           width: 70px;
                           height: 90px;
                           box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.5);
                           background-color: rgb(0, 0, 0);
                       }
                       
                       .sidebar-2 .sidebar2-main .card h3 {
                           padding: 10px 5px;
                       }
                       
                       .sidebar-2 .sidebar2-main .card a h3 {
                           font-size: 14px;
                           color: #2b2b2b;
                       }
                       /*widget-1*/
                       
                       .widget-1,
                       .widget-2 {
                           /*background: #ccc;*/
                           border-radius: 5px;
                           margin-left: 1em;
                           padding-left: 1em;
                       }
                       
                       .widget-2 {
                           margin: 1em 0;
                       }
                       
                       .widget-1 h2,
                       .widget-2 h2 {
                           color: palevioletred;
                       }
                       
                       .widget-1 .ultimos-agregados,
                       .widget-2 .ultimos-agregados {
                           display: flex;
                           flex-wrap: wrap;
                           padding: 0.2em 1em;
                       }
                       
                       .widget-1 .ultimos-agregados .card,
                       .widget-2 .ultimos-agregados .card {
                           width: 13%;
                           max-height: 200px;
                           margin: 2em 3px;
                           background: #fff;
                       }
                       
                       .widget-1 .card a img,
                       .widget-2 .card a img {
                           transition: all 0.5 ease 0s;
                           width: 100%;
                           max-height: 200px;
                           box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.5);
                           background-color: rgb(0, 0, 0);
                       }
                       
                       .widget-1 .ultimos-agregados .card img,
                       .widget-2 .ultimos-agregados .card img {
                           height: 100%;
                       }
                       
                       .widget-1 .ultimos-agregados .card a h3,
                       .widget-2 .ultimos-agregados .card a h3 {
                           font-size: 12px;
                           text-align: center;
                           color: #fff;
                       }
                       /*estilos resumen*/
                       
                       .contenedor .s2 {
                           width: 525%;
                           margin: 0;
                       }
                       
                       .contenedor .s2 .swiper-wrapper .swiper-slide {
                           position: relative;
                           font-size: 16px;
                           height: 35em;
                           background-size: cover;
                           -moz-background-size: cover;
                           -webkit-background-size: cover;
                           -o-background-size: cover;
                           display: flex;
                           align-items: center;
                           justify-content: start;
                           color: #fff;
                           padding-top: 6em;
                           padding-bottom: 2em;
                       }
                       
                       .contenedor .s2 .swiper-wrapper .swiper-slide .resumen {
                           justify-content: start;
                           margin: 0 6em;
                       }
                       
                       .contenedor .s2 .swiper-wrapper .swiper-slide .resumen h1 {
                           font-size: 2.5em;
                           margin-bottom: 0.5em;
                       }
                       
                       .contenedor .s2 .swiper-wrapper .swiper-slide .resumen p {
                           font-size: 1em;
                           line-height: 1.75em;
                           max-width: 50%;
                           margin-bottom: 1em;
                           color: #ccc;
                       }
                       
                       .contenedor .s2 .swiper-wrapper .swiper-slide .resumen>a {
                           background: rgba(0, 0, 0, 0.5);
                           border-radius: 0.3em;
                           padding: 1em 1.87em;
                           color: #fff;
                           margin-right: 2em;
                           cursor: pointer;
                           transition: .5s ease all;
                           font-size: 1em;
                       }
                       
                       .contenedor .s2 .swiper-wrapper .swiper-slide .resumen>a:hover {
                           opacity: 0.5;
                       }
                       
                       .contenedor .s2 .swiper-wrapper .swiper-slide .resumen .boton1 img {
                           width: 30px;
                           margin: 0 5px;
                       }
                       
                       .contenedor .s2 .swiper-wrapper .swiper-slide .resumen .boton2 img {
                           position: relative;
                           width: 15px;
                           margin: 0 5px;
                           top: 2px;
                       }
                       /*estilos contenido*/
                       
                       .contenedor .contenido {
                           padding: 0 1em;
                       }
                       
                       .contenedor .contenido h1 {
                           color: palevioletred;
                           padding-bottom: 0.3em;
                           font-size: 1.2em;
                           align-content: center;
                       }
                       
                       .contenedor .contenido .contenido_resumen {
                           padding: 1.5em 0;
                           padding-bottom: 2.5em;
                           display: flex;
                           flex-direction: row;
                           flex-wrap: wrap;
                       }
                       
                       .contenido .contenido_resumen .card {
                           width: 185px;
                           height: 250px;
                           text-align: center;
                           margin: 1px;
                           border-radius: 5px;
                           margin-bottom: 2.5em;
                           transition: all 0.5 ease 0s;
                       }
                       
                       .contenido .contenido_resumen .card a>h2 {
                           /*position: relative;*/
                           font-size: 14px;
                           /*z-index: 1;
                           top: -38px;*/
                           color: #fff;
                       }
                       
                       .contenido .contenido_resumen .card a>.resumen {
                           display: none;
                           position: relative;
                           z-index: 2;
                           text-align: justify;
                           padding: 5px;
                           top: -280px;
                           left: 180px;
                           width: 200px;
                           border-radius: 5px;
                           background: #fff;
                           padding: 5px 10px;
                           color: #191919;
                           transition: all 0.3s ease 0s;
                           margin-bottom: 50px;
                       }
                       
                       .contenido .contenido_resumen .card a>.resumen p {
                           font-size: 13px;
                       }
                       
                       .contenido .contenido_resumen .card a>.resumen h3 {
                           font-size: 13px;
                           color: rgb(19, 50, 82);
                           text-align: center;
                           padding-bottom: 3px;
                       }
                       
                       .contenido .contenido_resumen .card a>.resumen h6 {
                           font-size: 12px;
                       }
                       
                       .contenedor .contenido .contenido_resumen .card img {
                           width: 100%;
                           height: 100%;
                           transition: all 0.5 ease 0s;
                           border-radius: 5px;
                           box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.5);
                           -webkit-transition: all .6s ease;
                           /* Safari y Chrome */
                           -moz-transition: all .6s ease;
                           /* Firefox */
                           -o-transition: all .6s ease;
                           /* IE 9 */
                           -ms-transition: all .6s ease;
                       }
                       
                       .contenido_resumen .card img:hover,
                       .contenido_resumen .card a:hover {
                           -webkit-transform: scale(1.15);
                           -moz-transform: scale(1.15);
                           -ms-transform: scale(1.15);
                           -o-transform: scale(1.15);
                           transform: scale(1.15);
                       }
                       
                       .contenido_resumen .card a:hover>.resumen {
                           display: block;
                       }
                       
                       .informacion-megafly {
                           background: #f1f1f1;
                           padding: 2em 1em;
                           font-family: Montserrat;
                       }
                       
                       .informacion-megafly h1 {
                           color: palevioletred;
                       }
                       
                       .informacion-megafly .informacion {
                           display: flex;
                           flex-direction: row;
                           padding: 2em 1em;
                           justify-content: space-around;
                       }
                       
                       .informacion-megafly .informacion .informacion-1 {
                           border: paleturquoise 2px solid;
                           padding: 1.5em;
                       }
                       
                       .informacion-megafly .informacion .informacion-1 p {
                           text-align: justify;
                           padding: 1em 0;
                       }
                       
                       .informacion-megafly .informacion .informacion-2 {
                           border: paleturquoise 2px solid;
                           padding: 1.5em;
                       }
                       
                       .informacion-megafly .informacion .informacion-2 a img {
                           max-width: 400px;
                       }
                       
                       .informacion-megafly .informacion .informacion-2 a button {
                           justify-content: center;
                       }
                       
                       @media screen and (min-width:1300px) and (min-height:1900) {
                           .contenedor {
                               display: grid;
                               grid-gap: 1em;
                               grid-template-columns: repeat(5, 1fr);
                               grid-template-rows: repeat(7, auto);
                               grid-template-areas: "header header header header header" "descripcion-pagina descripcion-pagina descripcion-pagina descripcion-pagina descripcion-pagina" "sidebar-1 contenido contenido contenido sidebar-2" "sidebar-1 widget-1 widget-1 widget-1 sidebar-2" "sidebar-1 widget-2 widget-2 widget-2 sidebar-2" "informacion-megafly informacion-megafly informacion-megafly informacion-megafly informacion-megafly" "footer footer footer footer footer";
                           }
                       }
                       
                       @media screen and (max-width:1300px) {
                           .contenido-main .card {
                               max-width: 160px;
                               max-height: 150px;
                               text-align: center;
                               margin: 5px;
                               border-radius: 5px;
                               margin-bottom: 30px;
                           }
                           .widget-1 .card,
                           .widget-2 .card {
                               max-width: 80px;
                               max-height: 90px;
                               margin: 5px;
                               background: #fff;
                               margin-bottom: 15px;
                           }
                       }
                       
                       @media screen and (max-width:1150px) {
                           .header {
                               flex-direction: column;
                           }
                           .header .logo,
                           .header .menu,
                           .header .cta {
                               padding: 10px 0;
                           }
                           .contenido-main .card {
                               max-width: 150px;
                               max-height: 150px;
                               text-align: center;
                               margin: 3px;
                               border-radius: 5px;
                               margin-bottom: 20px;
                           }
                           .widget-1 .card,
                           .widget-2 .card {
                               max-width: 80px;
                               max-height: 90px;
                               margin: 5px;
                               background: #fff;
                               margin-bottom: 15px;
                           }
                       }
                       
                       @media screen and (max-width:750px) {
                           .contenedor {
                               grid-template-rows: repeat(9, auto);
                               grid-template-areas: "header header header header header" "descripcion-pagina descripcion-pagina descripcion-pagina descripcion-pagina descripcion-pagina""contenido contenido contenido contenido contenido" "sidebar-1 sidebar-1 sidebar-1 sidebar-1 sidebar-1" "sidebar-2 sidebar-2 sidebar-2 sidebar-2 sidebar-2" "widget-1 widget-1 widget-1 widget-1 widget-1" "widget-2 widget-2 widget-2 widget-2 widget-2" "informacion-megafly informacion-megafly informacion-megafly informacion-megafly informacion-megafly" "footer footer footer footer footer";
                           }
                           .contenido h1 {
                               font-size: 18px;
                               align-content: center;
                           }
                           .contenido .contenido_resumen .card {
                               width: 31%;
                               height: 170px;
                               text-align: center;
                               margin: 1.2em 3px;
                               border-radius: 5px;
                               padding: 0;
                               margin-bottom: 3em;
                           }
                           .contenido .contenido_resumen .card h2 {
                               font-size: 12px;
                           }
                           .contenido .s2 {
                               display: none;
                           }
                           .contenedor .s2 .swiper-wrapper .swiper-slide {
                               display: none;
                           }
                           .contenido .s1 {
                               display: none;
                           }
                           .header .menu ul {
                               flex-direction: column;
                           }
                           .header .menu ul li {
                               padding: 5px 0;
                           }
                           .sidebar-1 .menu-sidebar-1 .menu-sidebar-1-cards .card {
                               width: 30%;
                               max-height: 150px;
                               margin: 2em 0.1em;
                           }
                           .sidebar-1 .menu-sidebar-1 .menu-sidebar-1-cards .card a img {
                               width: 100%;
                               height: 100%;
                           }
                           .sidebar-1 .menu-sidebar-1 .menu-sidebar-1-cards .card a h3 {
                               font-size: 14px;
                           }
                           .sidebar-1 .menu-sidebar-1 .menu-sidebar-1-cards {
                               margin-bottom: 2em;
                           }
                           .sidebar-1 .recomendacion-genero ul,
                           .sidebar-2 .recomendacion-genero ul {
                               flex-direction: row;
                               justify-content: space-around;
                           }
                           .sidebar-1 .recomendacion-genero ul a li,
                           .sidebar-2 .recomendacion-genero ul a li {
                               padding: 3px 3px;
                           }
                           .widget-1 .ultimos-agregados,
                           .widget-2 .ultimos-agregados {
                               display: flex;
                               flex-wrap: wrap;
                           }
                           .widget-1 .ultimos-agregados .card,
                           .widget-2 .ultimos-agregados .card {
                               width: 33%;
                               height: 150px;
                               margin: 10px;
                               margin-bottom: 5.5em;
                               background: #fff;
                           }
                           .widget-1 .ultimos-agregados .card img,
                           .widget-2 .ultimos-agregados .card img {
                               height: 100%;
                           }
                           .widget-1 .ultimos-agregados .card a h3,
                           .widget-2 .ultimos-agregados .card a h3 {
                               font-size: 12px;
                           }
                           .informacion-megafly .informacion {
                               flex-direction: column;
                           }
                           .informacion-megafly .informacion .informacion-2 img {
                               width: 100%;
                           }
                           .informacion-megafly .informacion .informacion-1,
                           .informacion-megafly .informacion .informacion-2 {
                               width: 100%;
                           }
                       }