{% load static%}
<header class="header">
            <img class="logo" src="{% static 'imagenes/logofinal.png' %}" alt="Megafly">
            <nav class="menu">
                <ul>
                    <li><a href="">VideoJuegos &#43;</a>
                        <ul class="submenu">
                            <li><a href="">Juegos para Celular</a></li>
                            <li><a href="">Juegos para PC</a></li>
                            <li><a href="">Juegos para PSX</a></li>
                            <li><a href="">Juegos para PS2</a></li>
                            <li><a href="">Juegos para PS3</a></li>
                        </ul>
                    </li>
                    <li><a href="">Peliculas &#43;</a>
                        <ul class="submenu">
                            <li><a href="">Peliculas Antiguas</a></li>
                            <li><a href="">Peliculas Actuales</a></li>
                            <li><a href="">Peliculas Clásicos</a></li>
                            <li><a href="">Peliculas de Accion</a></li>
                            <li><a href="">Peliculas de Aventura</a></li>
                        </ul>
                    </li>
                    <li><a href="">Series &#43;</a></li>
                    <li><a href="">Mangas / Animes &#43; </a></li>
                    <li><a href="">Famosos</a></li>

                </ul>
            </nav>
            <a class="cta" href="cta"><button>Contacto</button></a>
        </header>