<!DOCTYPE html>
<html lang="es">
<head>
    {%block schema%}

    {%endblock schema%}
    {%block head%}
    
    {%endblock head%}  
</head>

<body>
    <div class="contenedor"> 
        {% include "superior/header.html"%}
        {% block contenido %}  

        {% endblock contenido%}
       {% include "inferior/footer.html"%}
        {% block script %}
        <script type="text/javascript">
        var uid = '273305';
        var wid = '563418';
        </script>
        <script type="text/javascript" src="//cdn.popcash.net/pop.js"></script>
        {% endblock script %}
</body>

</html>