{% extends "main.html" %}
{% load static %}
{%block schema%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "ver peliculas online gratis",
    "author": "Megafly",
    "url": "https://www.megafly.ga/{{pelicula.nombre}}",
    "address": "Peru",
    "sameAs": [
      "https://www.facebook.com/groups/154149275933711/"
    ]
  }
</script>
{%endblock schema%}
{% block facebook_pixel %}
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '552731338706557');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=552731338706557&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
{% endblock facebook_pixel %}
{% block head %}
<title>
    Ver {{pelicula.nombre}} Online gratis completo en googledrive y descarga Megafly
</title>
<meta name="description" content="Ver {{pelicula.nombre}} Online completo gratis a la mejora calidad y descargar por nuestros servidores Google Drive">
s<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
<meta name="keywords" content="Ver Peliculas, ver pelicula Online, ver pelicula a la mejora calidad, descarga pelicula, descargar peliculas por nuestros servidores Google Drive, Mega">
<meta name="robots" content="index,follow">
<link rel="canonical" href="https://www.megafly.ga/peliculas/{{pelicula.nombre}}">
<link rel="shortcut icon" href="{% static 'imagenes/megafly-icon.png' %}">
<meta name="referrer" content="origin">
<meta name="google" content="translate">
<meta name="google" content="sitelinkssearchbox">
<link rel="dns-prefetch" href="https://megafly.ga/peliculas/{{pelicula.nombre}}">
<meta property="fb:app_id" content="154149275933711">
<meta property=”og:title” content="Ver {{pelicula.nombre}} Online gratis completo en googledrive y descarga Megafly">
<meta property=”og:type” content="website">
<meta property="og:url" content="https://www.megafly.ga/peliculas/{{pelicula.slug}}">
<meta property="og:image" content="{{pelicula.img1.url}}">
<meta property="og:site_name" content="megafly pelicluas" >
<meta property="og:locale" content="es-PE" >
<meta property="og:description" content="Ver {{pelicula.nombre}} Online completo gratis a la mejora calidad y descargar por nuestros servidores Google Drive">
<meta property="og:locale:alternate" content="es_ES">
<meta name="twitter:card" value="summary_large_image">
<meta name="twitter:title" content="Ver {{pelicula.nombre}} Online gratis completo en googledrive y descarga Megafly">
<meta name="twitter:site" content="@megafly peliculas">
<meta name="twitter:url" content="https://www.megafly.ga/peliculas/{{pelicula.slug}}">
<meta name="twitter:description" content="Ver {{pelicula.nombre}} Online completo gratis a la mejora calidad y descargar por nuestros servidores Google Drive">
<meta name="twitter:image" content="{{pelicula.img1.url}}">
<meta name="twitter:image:alt" content="Ver {{pelicula.nombre}} Online gratis, para descargar por nuestros servidores google drive y mega">
<link href="{% static 'css/main_estilos.css'%}" rel="stylesheet">
<link href="{% static 'css/estilos_pelicula.css'%}" rel="stylesheet">
<link data-n-head="true" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400"> {% endblock head %} {% block contenido %}
<main class="contenido">
    <div class="card">
        <div class="card_header">
            <a href="{% url 'principal'%}"><img src="{% static 'imagenes/izquierda-megafly.ico' %}"></a>
        </div>
        <div class="card_body">
            <div class="left_body">
                <div class="left_body_responsive">
                    <h1>{{pelicula.nombre}}</h1>
                    <img src="{{pelicula.img1.url}}" alt="">
                </div>
                <div>
                    <h5>Comparte:</h5>
                    <div class="enlaces_body">
                        <a href=""><img src="{% static 'imagenes/facebook-megafly.ico' %}"></a>
                        <a href=""><img src="{% static 'imagenes/twitter-megafly.ico' %}"></a>
                        <a href=""><img src="{% static 'imagenes/instagram-megafly.ico' %}"></a>
                        <a href=""><img src="{% static 'imagenes/whataspp-megafly.ico' %}"></a>
                        <a href=""><img src="{% static 'imagenes/copiar-enlace-megafly.ico' %}"></a>
                    </div>
                </div>
                <div class="recomendacion_body">
                    <p>Peliculas Recomendadas</p>
                    <div class="card_recomendadas">
                        <a href=""><img src="{{pelicula.img1.url}}" alt="Jump Force" style="width:100%"></a>
                        <h2>Jump Force</h2>
                    </div>
                    <div class="card_recomendadas">
                        <a href=""><img src="{{pelicula.img1.url}}" alt="Jump Force" style="width:100%"></a>
                        <h2>Jump Force</h2>
                    </div>
                </div>
            </div>
            <div class="right_body">
                <div class="descripcion">
                    <h1>{{pelicula.nombre}}</h1>
                    <p>{{pelicula.descripcion}}</p>
                    <p><strong>Descargas:</strong> 12</p>
                    <p><strong>Calificacion:</strong> 5 estrellas</p>
                    <p><strong>Region:</strong> {{pelicula.region}}</p>
                    <p><strong>Idiomas:</strong> {{pelicula.idiomas}}</p>
                    <p><strong>Fecha de Estreno:</strong> {{pelicula.fecha_estreno}}</p>
                    <p><strong>Peso de Pelicula:</strong> {{pelicula.disco}}</p>
                    <p><strong>Director:</strong> {{pelicula.director}}</p>
                    <p><strong>Reparto:</strong> {{pelicula.reparto}}</p>
                </div>
                <div class="videos_body">
                    <h1>Ver Pelicula {{pelicula.nombre}} </h1>
                    <iframe src="https://drive.google.com/file/d/{{pelicula.online}}/preview"></iframe>
                </div>
                <div class="trailer_body">
                    <h1>Trailer {{pelicula.nombre}}</h1>
                    <iframe src="https://www.youtube.com/embed/{{pelicula.trailer}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="capturas_body">
                    <h1>Capturas {{pelicula.nombre}}</h1>
                    <img src="{{pelicula.img2.url}}" alt="">
                    <img src="{{pelicula.img3.url}}" alt="">
                    <img src="{{pelicula.img4.url}}" alt="">
                </div>
                <div class="descargar_body">
                <a href="{{pelicula.enlacegd}}">descargar google Drive</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock contenido %}