{% extends "main.html" %}
{% load static %}
{%block schema%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "ver Series online gratis",
    "author": "Megafly",
    "url": "https://www.megaflypeliculas.ga/serie/{{serie.slug_serie}}",
    "address": "Peru",
    "sameAs": [
      "https://www.facebook.com/groups/154149275933711/"
    ]
  }
</script>
{%endblock schema%}
{% block facebook_pixel %}
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '552731338706557');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=552731338706557&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
{% endblock facebook_pixel %}
{% block head %}
{% block googleanalytics%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163130682-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163130682-1');
</script>
{% endblock googleanalytics%}
<script data-ad-client="ca-pub-7691100873282163" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<title>
    Ver serie {{serie.nombre}} {{serie.anio}} Online gratis en GoogleDrive - Megafly
</title>
<meta name="description" content="Ver {{serie.nombre}} {{serie.anio}} Online gratis completo todas las temporadas a la mejora calidad y descargar por nuestros servidores Google Drive y Mega | megafly">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
<meta name="keywords" content="Ver Series {{serie.nombre}}, ver Series Online {{serie.nombre}}, ver Series {{serie.nombre}} a la mejora calidad, descarga Series {{serie.nombre}}, descargar pelicula {{Series.nombre}} por nuestros servidores Google Drive, Mega">
<meta name="robots" content="index,follow">
<link rel="canonical" href="https://www.megaflypeliculas.ga/serie/{{serie.slug_serie}}">
<link rel="shortcut icon" href="{% static 'imagenes/megafly-icon.png' %}">
<meta name="referrer" content="origin">
<meta name="google" content="translate">
<meta name="google" content="sitelinkssearchbox">
<link rel="dns-prefetch" href="https://megaflypeliculas.ga/serie/{{serie.slug_serie}}">
<meta property="fb:app_id" content="154149275933711">
<meta property=”og:title” content="Ver {{serie.nombre}} {{serie.anio}} Online gratis Todas las temporadas en GoogleDrive - Megafly">
<meta property=”og:type” content="website">
<meta property="og:url" content="https://www.megaflypeliculas.ga/serie/{{serie.slug_serie}}">
<meta property="og:image" content="{{serie.img1.url}}">
<meta property="og:site_name" content="Megafly Peliculas" >
<meta property="og:locale" content="es-PE" >
<meta property="og:description" content="Ver {{serie.nombre}} {{serie.anio}} Online gratis completo todas las temporadas a la mejora calidad y descargar por nuestros servidores Google Drive y Mega | megafly">
<meta property="og:locale:alternate" content="es_ES">
<meta name="twitter:card" value="summary_large_image">
<meta name="twitter:site" content="@megafly">
<meta name="twitter:creator" content="@Megafly">
<meta name="twitter:title" content="Ver {{serie.nombre}} {{serie.anio}} Online gratis Todas las temporadas en GoogleDrive | Megafly">
<meta name="twitter:url" content="https://www.megaflypeliculas.ga/serie/{{serie.slug_serie}}">
<meta name="twitter:description" content="Ver {{serie.nombre}} {{serie.anio}} Online gratis completo todas las temporadas a la mejora calidad y descargar por nuestros servidores Google Drive y Mega | megafly">
<meta name="twitter:image" content="{{serie.img1.url}}">
<meta name="twitter:image:alt" content="Ver {{serie.nombre}} Online gratis Todas las temporadas en GoogleDrive | Megafly">
<link href="{% static 'css/main_estilos.css'%}" rel="stylesheet">
<link href="{% static 'css/estilos_pelicula.css'%}" rel="stylesheet">
<link data-n-head="true" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400"> {% endblock head %} {% block contenido %}
<main class="contenido">
    <div class="card">
        <div class="card_header">
            <a href="{% url 'principal' %}"><img src="{% static 'imagenes/izquierda-megafly.ico' %}"> </a>
        </div>
        <div class="card_body">
            <div class="left_body">
                <div class="left_body_responsive">
                    <h1>{{serie.nombre}}</h1>
                    <img src="{{serie.img1.url}}" alt="{{serie.nombre}}">
                </div>
                <div>
                    <h5>Comparte:</h5>
                    <div class="enlaces_body">
                        <a href=""><img src="{% static 'imagenes/facebook-megafly.ico' %}" alt="Facebook megafly"></a>
                        <a href=""><img src="{% static 'imagenes/twitter-megafly.ico' %}" alt="Twitter megafly"></a>
                        <a href=""><img src="{% static 'imagenes/instagram-megafly.ico' %}" alt="Instagram megafly"></a>
                        <a href=""><img src="{% static 'imagenes/whataspp-megafly.ico' %}" alt="Whatsapp megafly"></a>
                        <a href=""><img src="{% static 'imagenes/copiar-enlace-megafly.ico' %}" alt="Enlace megafly"></a>
                    </div>
                </div>
                <div class="recomendacion_body">
                    <p>Series Recomendadas por Megafly</p>
                    <div class="card_recomendadas">
                        <a href="{%url 'serie' slug=serie.slug_serie%}"><img src="{{serie.img1.url}}" alt="{{serie.nombre}}"></a>
                        <a href="{%url 'serie' slug=serie.slug_serie%}"><h2>{{serie.nombre}}</h2></a>
                    </div>
                </div>
            </div>
            <div class="right_body">
                <div class="descripcion">
                    <h1>{{serie.nombre}}</h1>
                    <h2>Nombre Original:  <strong> {{serie.nombre_original}}</strong></h2>
                    <p>{{serie.descripcion}}</p>
                    <div class="descripcion-col-main">
                        <div class="descripcion-col-1">
                            <p><strong>Descargas:</strong>{{serie.descargas}}</p>
                            <p><strong>Calificacion:</strong>{{serie.calificacion}} Estrellas</p>
                            <p><strong>Region:</strong> {{serie.region}}</p>
                        </div>
                        <div class="descripcion-col-2">
                            <p><strong>Fecha de Estreno:</strong> {{serie.fecha_estreno}}</p>
                            <p><strong>Estado de la Serie:</strong> {{serie.estado}}</p>
                            <p><strong>Idiomas:</strong> {{serie.idiomas}}</p>
                        </div>
                    </div>
                    <p><strong>Director:</strong> {{serie.director}}</p>
                    <p><strong>Reparto: </strong> {{serie.reparto}}</p>
                    <p><strong>Generos: </strong>{{serie.genero.all|join:', '|title}}</p>
                </div>
                <div class="videos_body">
                    <h1>Temporadas de {{serie.nombre}} </h1>
                    <div class="temporadas_g"> 
                        <div class="card_temporada">
                            {%for temp in temporada%}
                                <a href="{% url 'temporada_serie' slug=temp.slug_temporada nombre=serie.nombre temporada_slug=temp.ntemporada.slug_ntemporada%}"><h2>{{temp.ntemporada.nombre}} de {{serie.nombre}} "{{temp.nombre}}"</h2></a>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="trailer_body">
                    <h1>Trailer de {{serie.nombre}}</h1>
                    <iframe src="https://www.youtube.com/embed/{{serie.trailer}}"  allowfullscreen></iframe>
                </div>
                <div class="capturas_body">
                    <h1>Capturas de {{serie.nombre}}</h1>
                    <img src="{{pelicula.img2.url}}" alt="{{serie.nombre}}">
                    <img src="{{pelicula.img3.url}}" alt="{{serie.nombre_original}}">
                    <img src="{{pelicula.img4.url}}" alt="{{serie.nombre}}">
                </div>
                <div class="tags_body">
                <p><strong>Servidores: </strong>Google Drive, Mega</p>
                <p><strong>Etiquetas: </strong>{{serie.nombre}}, serie {{serie.nombre}} Series por Google Drive, Series Gratis, Series Online, Series Completas, Series de Netflix,Series, Todos los capitulos, Peliculas Google Drive, Peliculas Gratis, Peliculas Online, Peliculas Completas, Primera Temporada, Segunda Temporada, Tercera Temporada, Cuarta Temporada, Quinta Temporada, Sexta Temporada, Juegos Pc, Juegos PSX, Juegos PS2, Juegos PS3, Descargar juegos, Descargar Juegos Gratis, Descargar juegos por Mega, Descargar Juegos de Pocos Requisitos, Descargar Juegos de Medios Requisitos, Descargar Juegos de Altos Requisitos </p>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="recomendacion-responsive">
<p>Series Recomendadas por Megafly</p>
                    <div class="card_recomendadas">
                        <a href="{%url 'serie' slug=serie.slug_serie%}"><img src="{{serie.img1.url}}" alt="{{serie.nombre}}"></a>
                        <a href="{%url 'serie' slug=serie.slug_serie%}"><h2>{{serie.nombre}}</h2></a>
                    </div>
</div>
{% endblock contenido %}