{% extends "main.html" %}
{% load static %}
{%block schema%}
{%for serie in verseries%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Ver {{serie.temporada.serie.nombre}} Capitulo {{capitulo}} online gratis",
    "author": "Megafly",
    "url": "https://www.megaflypeliculas.ga/{{serie.temporada.serie.slug_serie}}/capitulo-{{capitulo}}/{{serie.slug_capitulo}}",
    "address": "Peru",
    "sameAs": [
      "https://www.facebook.com/groups/154149275933711/"
    ]
  }
</script>
{%endfor%}
{%endblock schema%}
{% block facebook_pixel %}
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '552731338706557');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=552731338706557&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
{% endblock facebook_pixel %}
{% block head %}
{% block googleanalytics%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163130682-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163130682-1');
</script>
{% endblock googleanalytics%}
<script data-ad-client="ca-pub-7691100873282163" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{%for serie in verseries%}
<title>
    Ver {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} Online Gratis Completo Google Drive- Megafly
</title>
<meta name="description" content="{{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} Online gratis completo a la mejora calidad y descargar por nuestros servidores Google Drive y Mega - Megafly">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
<meta name="keywords" content="Ver Serie {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}}, ver serie Online {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}}, ver serie {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} a la mejora calidad, descarga serie {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}}, descargar serie {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} por nuestros servidores Google Drive, Mega">
<meta name="robots" content="index,follow">
<link rel="canonical" href="https://www.megaflypeliculas.ga/{{serie.temporada.serie.slug_serie}}/capitulo-{{capitulo}}/{{serie.slug_capitulo}}">
<link rel="shortcut icon" href="{% static 'imagenes/megafly-icon.png' %}">
<meta name="referrer" content="origin">
<meta name="google" content="translate">
<meta name="google" content="sitelinkssearchbox">
<link rel="dns-prefetch" href="https://megaflypeliculas.ga/{{serie.temporada.serie.slug_serie}}/capitulo-{{capitulo}}/{{serie.slug_capitulo}}">
<meta property="fb:app_id" content="154149275933711">
<meta property=”og:title” content="Ver {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} Online Gratis Completo Google Drive- Megafly">
<meta property=”og:type” content="website">
<meta property="og:url" content="https://www.megaflypeliculas.ga/{{serie.temporada.serie.slug_serie}}/capitulo-{{capitulo}}/{{serie.slug_capitulo}}">
<meta property="og:image" content="{{serie.img1.url}}">
<meta property="og:site_name" content="Megafly Peliculas" >
<meta property="og:locale" content="es-PE" >
<meta property="og:description" content="{{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} Online gratis completo a la mejora calidad y descargar por nuestros servidores Google Drive y Mega - Megafly">
<meta property="og:locale:alternate" content="es_ES">
<meta name="twitter:card" value="summary_large_image">
<meta name="twitter:site" content="@megafly">
<meta name="twitter:creator" content="@Megafly">
<meta name="twitter:title" content="Ver {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} Online Gratis Completo Google Drive- Megafly">
<meta name="twitter:url" content="https://www.megaflypeliculas.ga/{{serie.temporada.serie.slug_serie}}/capitulo-{{capitulo}}/{{serie.slug_capitulo}}">
<meta name="twitter:description" content="{{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} Online gratis completo a la mejora calidad y descargar por nuestros servidores Google Drive y Mega - Megafly">
<meta name="twitter:image" content="{{serie.img1.url}}">
<meta name="twitter:image:alt" content="Ver {{serie.temporada.serie.nombre}} {{serie.temporada.ntemporada.nombre}} Capitulo {{capitulo}} Online gratis, para descargar por nuestros Servidores Google Drive y Mega">
<link href="{% static 'css/main_estilos.css'%}" rel="stylesheet">
<link href="{% static 'css/estilos_pelicula.css'%}" rel="stylesheet">
<link data-n-head="true" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400"> {%endfor%}{% endblock head %} {% block contenido %}
<main class="contenido">
 {%for verserie in verseries%}
    <div class="card">
        <div class="card_header">
            <a href="{% url 'principal'%}"><img src="{% static 'imagenes/izquierda-megafly.ico' %}"> </a>
        </div>
        <div class="card_body">
            <div class="left_body">
                <div class="left_body_responsive">
                    <h1>{{verserie.nombre}}</h1>
                    <img src="{{verserie.temporada.serie.img1.url}}" alt="{{verserie.nombre}}">
                </div>
                <div>
                    <h5>Comparte:</h5>
                    <div class="enlaces_body">
                        <a href=""><img src="{% static 'imagenes/facebook-megafly.ico' %}" alt="Facebook megafly"></a>
                        <a href=""><img src="{% static 'imagenes/twitter-megafly.ico' %}" alt="Twitter megafly"></a>
                        <a href=""><img src="{% static 'imagenes/instagram-megafly.ico' %}" alt="Instagram megafly"></a>
                        <a href=""><img src="{% static 'imagenes/whataspp-megafly.ico' %}" alt="Whatsapp megafly"></a>
                        <a href=""><img src="{% static 'imagenes/copiar-enlace-megafly.ico' %}" alt="Enlace megafly"></a>
                    </div>
                </div>
                <div class="recomendacion_body">
                    <p>Peliculas Recomendadas por Megafly</p>
                    <div class="card_recomendadas">
                        <a href="{%url 'verserie' slug=verserie.slug_capitulo nombre=nombre capitulo=capitulo%}"><img src="{{verserie.temporada.serie.img1.url}}" alt="{{verserie.nombre}}"></a>
                        <a href="{%url 'verserie' slug=verserie.slug_capitulo nombre=nombre capitulo=capitulo%}"><h2>{{verserie.nombre}}</h2></a>
                    </div>
                     
                </div>
            </div>
            <div class="right_body">
                <div class="descripcion">
                    <h1>Capitulo {{capitulo}} de {{verserie.temporada.serie.nombre}} {{verserie.nombre}}</h1>
                    <h2>Nombre Original:  <strong> {{verserie.nombre_original}}</strong></h2>
                    <p>{{verserie.descripcion}}</p>
                    <div class="descripcion-col-main">
                        <div class="descripcion-col-1">
                            <p><strong>Descargas:</strong>{{verserie.descargas}}</p>
                            <p><strong>Calificacion:</strong>{{verserie.calificacion}} estrellas</p>
                             <p><strong>Idiomas:</strong> {{verserie.idiomas}}</p>
                        </div>
                        <div class="descripcion-col-2">
                            <p><strong>Fecha de Estreno:</strong> {{verserie.fecha_estreno}}</p>
                            <p><strong>Peso de Pelicula:</strong> {{verserie.disco}}</p>
                           
                        </div>
                    </div>
                </div>
                <div class="videos_body">
                    <h1>Ver {{verserie.ncapitulo.nombre}} de {{verserie.temporada.serie.nombre}} {{verserie.nombre}} </h1>
                    <div class="video_g"> 
                        <iframe src="https://drive.google.com/file/d/{{verserie.online}}/preview" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" seamless></iframe>
                        <div class="video_d"></div>
                    </div>
                </div>
                <!--<div class="trailer_body">
                    <h1>Trailer del {{verserie.ncapitulo.nombre}} de {{verserie.temporada.serie.nombre}} {{verserie.nombre}}</h1>
                    <iframe src="https://www.youtube.com/embed/{{verserie.temporada.trailer}}"  allowfullscreen></iframe>
                </div>
                <div class="capturas_body">
                    <h1>Capturas del {{verserie.ncapitulo.nombre}} de {{verserie.temporada.serie.nombre}} {{verserie.nombre}}</h1>
                    <img src="{{verserie.temporada.serie.img2.url}}" alt="{{capitulo}} Capitulo de {{verserie.temporada.serie.nombre}} {{verserie.nombre}}">
                    <img src="{{verserie.temporada.serie.img3.url}}" alt="{{capitulo}} Capitulo de {{verserie.temporada.serie.nombre}} {{verserie.nombre}}">
                    <img src="{{verserie.temporada.serie.img4.url}}" alt="{{capitulo}} Capitulo de {{verserie.temporada.serie.nombre}} {{verserie.nombre}}">
                </div>-->
                <div class="descargar_body">
                <a href="{{verserie.enlace_publi}}" target="_blank">descargar google Drive</a>
                </div>
                <div class="tags_body">
                <p><strong>Servidores: </strong>Google Drive, Mega</p>
                <p><strong>Etiquetas: </strong>{{verserie.ncapitulo.nombre}} de {{verserie.temporada.serie.nombre}} {{verserie.nombre}}, {{verserie.nombre}},{{verserie.ncapitulo.nombre}},{{verserie.temporada.serie.nombre}}, Series, Series Online, Series Netflix, Series Gratis, Series Completas, Todos los capitulos Peliculas Google Drive, Peliculas Gratis, Peliculas Online, Peliculas Completas, Juegos Pc, Juegos PSX, Juegos PS2, Juegos PS3, Descargar juegos, Descargar Juegos Gratis, Descargar juegos por Mega, Descargar Juegos de Pocos Requisitos, Descargar Juegos de Medios Requisitos, Descargar Juegos de Altos Requisitos </p>
                </div>
            </div>
        </div>
    </div>
   
</main>
<div class="recomendacion-responsive">
<p>Peliculas Recomendadas por Megafly</p>
                    <div class="card_recomendadas">
                        <a href="{%url 'verserie' slug=verserie.slug_capitulo nombre=nombre capitulo=capitulo%}"><img src="{{verserie.img1.url}}" alt="{{verserie.nombre}}"></a>
                        <a href="{%url 'verserie' slug=verserie.slug_capitulo nombre=nombre capitulo=capitulo%}"><h2>{{verserie.nombre}}</h2></a>
                    </div>
</div>
 {%endfor%}
{% endblock contenido %}