{% extends "main.html" %} {% load static %} {%block schema%}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "ver Cursos y descargar cursos online gratis de Udemy, Coursera, Platzi, AprenderGratis, UniMOOC, Activate, edX, Khan Academy ",
        "author": "Megafly",
        "url": "https://www.megaflypeliculas.ga/cursos",
        "address": "Peru",
        "sameAs": [
            "https://www.facebook.com/groups/154149275933711/"
        ]
    }
</script>
{%endblock schema%} {% block facebook_pixel %}
<!-- Facebook Pixel Code -->
<script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '552731338706557');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=552731338706557&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
{% endblock facebook_pixel %} {% block head %} {% block googleanalytics%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163130682-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-163130682-1');
</script>
{% endblock googleanalytics%} {%block publicidad%} {%endblock publicidad%}
<script data-ad-client="ca-pub-7691100873282163" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<title>Descargar Cursos gratis online de Udemy, Coursera,Platzi, Khan Academy - megafly</title>
<meta name="description" content="Descargar Cursos online de Udemy, Coursera, Platzi, AprenderGratis, UniMOOC, Activate, edX, Khan Academy por Google Drive por megafly">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
<meta name="keywords" content="Descargar Peliculas, Series y Descargar, descargar Peliculas, Series y Descargar para android, descargar Peliculas, Series y Descargar para Peliculas, Series y Descargar, Series y Descargar, descargar juegos para Peliculas, Series y Descargar, descargar Peliculas, Series y Descargar para ps2, descargar Peliculas, Series y Descargar para ps3, descargar Peliculas, Series y Descargar por google drive, descargar Peliculas, Series y Descargar por mega, ver Peliculas, Series y Descargar online">
<meta name="robots" content="index,follow">
<link rel="canonical" href="https://www.megaflypeliculas.ga/cursos">
<link rel="shortcut icon" href="{% static 'imagenes/megafly-icon.png' %}">
<meta name="referrer" content="origin">
<meta name="google" content="translate">
<meta name="google" content="sitelinkssearchbox">
<link rel="dns-prefetch" href="https://megaflypeliculas.ga/cursos">
<meta property="fb:app_id" content="154149275933711">
<meta property=”og:title” content="Descargar Cursos gratis online de Udemy, Coursera,Platzi, Khan Academy - megafly">
<meta property=”og:type” content="website">
<meta property="og:url" content="https://www.megaflypeliculas.ga/cursos">
<meta property="og:image" content="{% static 'imagenes/jump-force.png' %}">
<meta property="og:site_name" content="megaflypeliculas">
<meta property="og:locale" content="es-PE">
<meta property="og:description" content="Descargar Cursos online de Udemy, Coursera, Platzi, AprenderGratis, UniMOOC, Activate, edX, Khan Academy por Google Drive por megafly">
<meta property="og:locale:alternate" content="es_ES">
<meta name="twitter:card" value="summary_large_image">
<meta name="twitter:site" content="@megafly">
<meta name="twitter:creator" content="@Megafly">
<meta name="twitter:title" content="Descargar Cursos gratis online de Udemy, Coursera,Platzi, Khan Academy - megafly">
<meta name="twitter:description" content="Descargar Cursos online de Udemy, Coursera, Platzi, AprenderGratis, UniMOOC, Activate, edX, Khan Academy por Google Drive por megafly">
<meta name="twitter:url" content="https://www.megaflypeliculas.ga/cursos">
<meta name="twitter:image" content="{% static 'imagenes/jump-force.png'%}">
<meta name="twitter:image:alt" content="Descargar Cursos online de Udemy, Coursera, Platzi, AprenderGratis, UniMOOC, Activate, edX, Khan Academy por Google Drive por megafly">
<link href="{% static 'css/main_estilos.css'%}" rel="stylesheet">
<link href="{% static 'css/estilos_cursos.css'%}" rel="stylesheet">
<link data-n-head="true" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400"> {% endblock head %}
<!-- Global site tag (gtag.js) - Google Analytics -->
{% block contenido %}
<div class="contenido">
    <div class="contenido_titulo">
        <h1>Descargar Cursos Online Gratis de Udemy, Coursera, Platzi, AprenderGratis, UniMOOC, Activate, edX, Khan Academy por Google Drive - Megafly</h1>
    </div>
    <div class="contenido_list">
        <div class="card">
            <div class="imagen">
                <img src="{%static 'imagenes/jump-force.png'%}" alt="">
            </div>
            <div class="resumen">
                <h1>curso de java</h1>
            </div>
        </div>
        <div class="card">
            <div class="imagen">
                <img src="{%static 'imagenes/jump-force.png'%}" alt="">
            </div>
            <div class="resumen">
                <div class="curso_resumen">
                    <h2>curso de java</h2>
                    <p>Este curso se trata de recolectar la mayor ca se trata de recolectar la mayor cantidad se trata de recolectar la mayor cade likes en una pagina web con udemy</p>
                </div>
                <div class="boton">
                    <a href="">Ir al Curso</a>
                </div>
                <div class="etiqueta_udemy">
                    <a href="">Udemy</a>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="imagen">
                <img src="{%static 'imagenes/jump-force.png'%}" alt="">
            </div>
            <div class="resumen">
                <div class="curso_resumen">
                    <h2>curso de java</h2>
                    <p>Este curso se trata de recolectar la mayor cantidad de likes en una pagina web con udemy</p>
                </div>
                <div class="boton">
                    <a href="">Ir al Cupon</a>
                </div>
                <div class="etiqueta_platzi">
                    <a href="">Platzi</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imagen">
                <img src="{%static 'imagenes/jump-force.png'%}" alt="">
            </div>
            <div class="resumen">
                <div class="curso_resumen">
                    <h2>curso de java</h2>
                    <p>Este curso se trata deo se trata de o se trata de o se trata de o se trata de o se trata de o se trata de o se trata de o se trata de o se trata de v height: 20em; recolectar la mayor cantidad de likes en una pagina web con udemy</p>
                </div>
                <div class="boton">
                    <a href="">Ir al Cupon</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imagen">
                <img src="{%static 'imagenes/jump-force.png'%}" alt="">
            </div>
            <div class="resumen">
                <div class="curso_resumen">
                    <h2>curso de java</h2>
                    <p>Este curso se solectar la mayor cantidad de likes en una pagina web con udemy</p>
                </div>
                <div class="boton">
                    <a href="">Ir al Cupon</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imagen">
                <img src="{%static 'imagenes/jump-force.png'%}" alt="">
            </div>
            <div class="resumen">
                <div class="curso_resumen">
                    <h2>curso de java</h2>
                    <p>Este curso se trata de recolectar la mayor cantidad de likes en una pagina web con udemy</p>
                </div>
                <div class="boton">
                    <a href="">Ir al Cupon</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imagen">
                <img src="{%static 'imagenes/jump-force.png'%}" alt="">
            </div>
            <div class="resumen">
                <div class="curso_resumen">
                    <h2>curso de java</h2>
                    <p>Este curso se trata de recolectar la mayor cantidad de likes en una pagina web con udemy</p>
                </div>
                <div class="boton">
                    <a href="">Ir al Cupon</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock contenido %} {% block script %}
<script type="text/javascript">
    var wid = '563418';
    var uid = '273305';
</script>
<script type="text/javascript" src="//cdn.popcash.net/pop.js"></script>
{% endblock script %}