    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-size: 16px;
        box-sizing: border-box;
    }
    
    body {
        font-family: Montserrat, Helvetica, sans-serif;
        background-color: #191919;
    }
    /*estilos navbar*/
    
    .logo {
        width: 250px;
        height: 60px;
        cursor: pointer;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5%;
        background: #191919;
    }
    
    .header .menu ul {
        display: flex;
    }
    
    .header .menu ul>li {
        padding: 0 10px;
        text-align: center;
    }
    
    .header .menu li a {
        color: #DCD2D2;
        transition: all 0.8s ease 0s;
    }
    
    .header .menu li a:hover {
        color: #0088a9;
    }
    
    .header .menu li:hover>.submenu {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    
    .header .menu li .submenu {
        display: none;
        position: relative;
        background: #191919;
        transition: all 0.8s ease 0s;
    }
    
    .header .menu li .submenu li {
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 5px;
        margin: 0;
        text-align: start;
    }
    
    .header button {
        background: #0088a9;
        border: none;
        border-radius: 0.3em;
        padding: 0.5em 0.87em;
        color: #fff;
        margin-right: 1.25em;
        cursor: pointer;
        transition: .5s ease all;
        font-size: 1.12em;
    }
    
    .header button:hover {
        opacity: 0.9;
    }
    /*estilos footer*/
    
    .footer {
        display: flex;
        justify-content: space-between;
        color: #DCD2D2;
        background: #141414;
        padding: 15px 80px;
    }
    
    .footer h1,
    .footer h3 {
        font-size: 14px;
    }
    
    @media screen and (max-width:1150px) {
        .header {
            flex-direction: column;
        }
        .header .logo,
        .header .menu,
        .header .cta {
            padding: 10px 0;
        }
    }
    
    @media screen and (max-width:750px) {
        .header .menu ul {
            flex-direction: column;
        }
        .header .menu ul li {
            padding: 5px 0;
        }
    }